body {
  box-sizing: border-box;
  padding: 10px;
  background-color: #d9d9d9;
}

.body-border {
  padding: 10px;
  border: 1px solid black;
}

.header-container {
  text-align: center;
  width: 100%;
}

.header-titulo {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header-info {
  font-size: 16px;
  font-style: italic;
  margin-bottom: 10px;
}

.header-divider {
  border-top: 3px dashed #bbb;
  margin-bottom: 10px;
}

.main-accordion {
  width: 100%;
}

.accordion-item {
  border-radius: 5px;
  text-align: start;
  padding: 10px;
  margin-bottom: 10px;
}

#faisca {
  background-color: #b4af59;
}

#flama {
  background-color: #7ba05b ;
}

#tocha {
  background-color: #3065ac;
}

#tocha h2{
  color: white;
}

#tocha h4{
  color: white;
}

#jv {
  background-color: #373737;
}

#jv h2{
  color: white;
}

#jv h4{
  color: white;
}


.accordion-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.accordion-title h2 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.accordion-title h4 {
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
  text-decoration: underline;
  color: white;
}

.accordion-icon {
  width: 20px;
}

.accordion-body {
  max-height: 0px;
  padding: 0px;
  overflow: hidden;
}

.accordion-body.actived {
  display: block;
  max-height: 200px;
  padding: 0px;
  overflow: hidden;
}
